/* General */

* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #565b6d;
    --secondary: #d3cdcd;

}

/* Navbar */

.teeth-nav {
    background: linear-gradient(135deg, var(--secondary), var(--primary));
}



/* Header */

.teeth-header {
    background-image: url('/img/img5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 45vh;
}

.head-text {
    color: var(--primary);
}

.teeth-button {
    padding: 15px 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    transition: all 0.70s;
}

.teeth-button:hover {
    background: linear-gradient(90deg, var(--secondary), var(--primary));
    color: white;
}


/* Footer */    
.teeth-footer {
    padding:50px 70px;
    background: linear-gradient(135deg, var(--secondary), var(--primary));
    
}

.teeth-footer-icon {
    height:55px;
    width: 55px;
    background-color: var(--secondary);
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    
}

.teeth-footer-icon:hover {
    color: var(--primary);
}

/* Card button */

.card-style{
    border: 1px solid;
    border-color: var(--secondary);
}

.card-button {
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid var(--secondary);
    color:var(--primary);
}

.card-button:hover {
    background-image: linear-gradient(135deg, var(--secondary), var(--primary));
    color: #ffffff;
}

/* Contattaci */

.form-text-area {
    border-color: #ced4da;
}

.errors-window {
    background-image: linear-gradient(90deg, var(--secondary), var(--primary));
}